body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
  }
  
  form {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  input[type="search"] {
    flex: 1;
    height: 60px;
    padding: 0 20px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .hbutton {
    height: 120px;
    width: 120px;
    margin: 0 10px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    flex-grow: 1;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  
  .hbutton:hover {
    background-color: #555;
  }
  
  .hbutton:active {
    background-color: #333;
  }


  .home-button {
    display: inline-block;
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    top: 0%;
    left: 0%;
    border: none;
    border-radius: 4px;
    background-color: #444;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    font-size: 32px;
    cursor: pointer;
    border-radius: 8px;

  }

  .home-button:hover {
    background-color: #555;
  }
  .home-button:active {
    background-color: #333;
  }

  .home-section {
    height: 5vh;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #555;
  }
  
  .home-section h2 {
    margin: 0;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }

  .back-chevron {
    height: 20px;
    width: 20px;
    
  }